/* external stylesheet for images */

/* style first image */
.img-one {
    float: left;
    margin-right: 10px;
    border: 5px groove lightpink;
    border-radius: 50%;
}

/* style second image */
.img-two {
    float: right;
    margin-left: 10px;
    margin-bottom:10px;
    border: 8px dotted lightpink;
    border-radius: 20%;
}

/* style third image */
.img-three {
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    border: 7px double lightpink;
    border-radius: 25% 45%;
}

/* for formatting image above the footer as responsive */
.img-four {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

footer {
    background-image: url(images/footerCloudImg2.jpg);
}