/* external stylesheet */

/*/ :root {
} */
body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2.0rem;
	text-align: center;
	color: #ff5e6c;
}

p {
	font-size: 1.2rem;
	text-align: justify;
}

ul {
	font-size: 1.2rem;
}

ol {
	font-size: 1.2rem;
}

/*JSON table style*/

.sample{
	border-collapse: collapse;
	border: 2px solid black;
	margin: auto;
	width: fit-content;
	padding:15px;
}
.sample th, .sample td, .sample tr {
/*	border: 1px solid black; */
	/* border-bottom: 1px solid black; */
	padding: 5px;
}

.sample tr, .sample td {
	border-bottom: 1px solid gray;
	border-collapse: collapse;
}




/* color scheme 
#fff5d7 - light yellow
#ff5e6c - pink
#feb300 - orange
#ffaaab - light pink
#ffadae - light pink
#961e42 - dark pink
#aca040 - light green	

fluid typography
https://dev.to/marcelluscaio/fluid-typography-1mfl
*/

/*test for re-deloyment*/