/* external stylesheet */

/*/ :root {
} */
body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

.megaContainer {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px;
}

h1 {
	font-size: 2.0rem;
	text-align: center;
	color: #ff5e6c;
}

p, ul, ol {
	font-size: 1.1rem;
	width: clamp(min(93.75vw, 50ch), 70vw, 75ch);
}

p {
	text-align: left;
}

ul {
	font-size: 1.1rem;
}

ol {
	font-size: 1.1rem;
}
/*table style*/
table{
	border-collapse:collapse;
}

footer p {
	text-align: center;
	margin: auto;
	padding: 20px 0px;
}

/*JSON table style*/

.sample{
	border-collapse: collapse;
	border: 2px solid black;
	margin: auto;
	width: fit-content;
	padding:15px;
	text-align: center;
	background-color: #ffd7ab;
}

.sample th, .sample td, .sample tr {
/*	border: 1px solid black; */
	/* border-bottom: 1px solid black; */
	padding: 5px;
}

.sample tr, .sample td {
	border-bottom: 1px solid gray;
}

.JStableContainer {
	background-color: lightpink;
	padding:15px;
	min-width: fit-content;
}

.JStableContainer h1{
color:black;
max-width: 775px;
margin: auto;
padding: 10px;
}

/*iFrame style*/
.miroWrap{
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%; /*16:9 aspect ratio*/
	margin: auto;
}
.responsive-iFrame{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	max-height:500px;
	max-width: 750px;
	border: none;
	margin: auto;
}

/* color scheme 
#fff5d7 - light yellow
#ff5e6c - pink
#feb300 - orange
#ffaaab - light pink
#ffadae - light pink
#961e42 - dark pink
#aca040 - light green	

fluid typography
https://dev.to/marcelluscaio/fluid-typography-1mfl
*/

/*test for re-deloyment*/