/* external stylesheet */

h1 {
	text-align: center;
	color: #ff5e6c;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
}

ul {
	font-family: Arial, Helvetica, sans-serif;
}

/* color scheme 
#fff5d7 - light yellow
#ff5e6c - pink
#feb300 - orange
#ffaaab - light pink
#ffadae - light pink
#961e42 - dark pink
#aca040 - light green	
*/
